'fileTypes' : [
  'svi'
]
'name' : 'svi'
'patterns' : [
  {
    'include' : '#main'
  }
]
'scopeName' : 'source.svi'
'uuid' : ''
'repository' : {
  'main' : {
    'patterns' : [
      {
        'match' : '((\\$l|\\$s):[a-zA-Z0-9_]*)'
        'name' : 'variable.svi'
      }
      {
        'match' : '((o|p):[a-zA-Z0-9_]*)'
        'name' : 'entity.name.type.svi'
      }
      {
        'match' : '(f:[a-zA-Z0-9_]*)'
        'name' : 'entity.name.function.svi'
      }
      {
        'match' : '(<\\-)'
        'name' : 'punctuation.svi'
      }
      {
        'match' : '(true|false)'
        'name' : 'keyword.svi'
      }
      {
        'match' : '(beginfn|fnparam|return|curry|callif|callelse|call|pushcallif|pushcallelse|pushcall|drain|exit|out|err|streaminit|streampush|streampop|streamclose|streamempty|typify|lock|unlock|equal|scopeof|typeof|compatible|nand|and|xor|nor|or|not|mapinit|mapset|mapget|maplength|mapkeys|enuminit|enumappend|enumprepend|enumlength|enumget|enumset|enumerate|strconcat|strlength|strslice|plus|minus|times|divide|power|mod|neg|gte|gt|lte|lt|while|with|pushexhandler|popexhandler|raise|resume|otypeinit|otypeprop|otypedel|otypeget|otypefinalize|otypesubset|objinit|objset|objget|objinstance|objcurry)'
        'name' : 'keyword.svi'
      }
      {
        'include' : '#numeric'
      }
      {
        'begin' : '(\\")'
        'beginCaptures' : {
          '1' : {
            'name' : 'string.svi'
          }
        }
        'contentName' : 'string.svi'
        'end' : '(\\")'
        'endCaptures' : {
          '1' : {
            'name' : 'string.svi'
          }
        }
      }
      {
        'match' : '(\\-\\-.*)'
        'name' : 'comment.svi'
      }
    ]
  }
  'main__1' : {
    'patterns' : [
    ]
  }
  'numeric' : {
    'patterns' : [
      {
        'match' : '(\\b\\d+\\.\\d+)'
        'name' : 'constant.numeric.svi'
      }
      {
        'match' : '(\\b\\d+)'
        'name' : 'constant.numeric.svi'
      }
    ]
  }
}
