'fileTypes' : [
  'swarm'
]
'name' : 'swarm'
'patterns' : [
  {
    'include' : '#main'
  }
]
'scopeName' : 'source.swarm'
'uuid' : ''
'repository' : {
  'main' : {
    'patterns' : [
      {
        'begin' : '(\\-\\-\\*)'
        'beginCaptures' : {
          '1' : {
            'name' : 'comment.swarm'
          }
        }
        'contentName' : 'comment.swarm'
        'end' : '(\\*\\-\\-)'
        'endCaptures' : {
          '1' : {
            'name' : 'comment.swarm'
          }
        }
      }
      {
        'match' : '(\\-\\-[^\\*].*)'
        'name' : 'comment.swarm'
      }
      {
        'match' : '(numberToString|booleanToString|vectorToString|matrixToString|sin|cos|tan|random|randomVector|randomMatrix|zeroVector|zeroMatrix|range|lLog|sLog|lError|sError|floor|ceiling|max|min|nthRoot|count|time|subVector|subMatrix|tag|open|read|write|append)'
        'name' : 'entity.name.function.swarm'
      }
      {
        'match' : '(enumerate|with|while|if|as|include|from|shared|constructor)'
        'name' : 'keyword.swarm'
      }
      {
        'match' : '(number|bool|map|string|enumerable|fn|type)'
        'name' : 'entity.name.type.swarm'
      }
      {
        'match' : '(\\b[a-zA-Z_][a-zA-Z0-9_]*)'
        'name' : 'variable.swarm'
      }
      {
        'match' : '(\\b\\d+\\.\\d+)'
        'name' : 'constant.numeric.swarm'
      }
      {
        'match' : '(\\b\\d+)'
        'name' : 'constant.numeric.swarm'
      }
      {
        'begin' : '(\\{)'
        'beginCaptures' : {
          '1' : {
            'name' : 'punctuation.swarm'
          }
        }
        'patterns' : [
          {
            'include' : '#main__2'
          }
        ]
        'end' : '(\\})'
        'endCaptures' : {
          '1' : {
            'name' : 'punctuation.swarm'
          }
        }
      }
      {
        'match' : '(;|\\.|\\^|,|<|>|=|\\[|\\]|\\+|-|\\*|\\/|\\!|:|&|\\||%)'
        'name' : 'punctuation.swarm'
      }
      {
        'begin' : '(\\")'
        'beginCaptures' : {
          '1' : {
            'name' : 'string.swarm'
          }
        }
        'contentName' : 'string.swarm'
        'end' : '(\\")'
        'endCaptures' : {
          '1' : {
            'name' : 'string.swarm'
          }
        }
      }
      {
        'begin' : '(\\()'
        'beginCaptures' : {
          '1' : {
            'name' : 'punctuation.swarm'
          }
        }
        'patterns' : [
          {
            'include' : '#main__4'
          }
        ]
        'end' : '(\\))'
        'endCaptures' : {
          '1' : {
            'name' : 'punctuation.swarm'
          }
        }
      }
      {
        'match' : '([^\\s])'
        'name' : 'invalid.swarm'
      }
    ]
  }
  'main__1' : {
    'patterns' : [
    ]
  }
  'main__2' : {
    'patterns' : [
      {
        'include' : '#main'
      }
    ]
  }
  'main__3' : {
    'patterns' : [
    ]
  }
  'main__4' : {
    'patterns' : [
      {
        'include' : '#main'
      }
    ]
  }
}
